@media (max-width: 1500px) {
	.products__wrapper {
		flex-wrap: wrap;

	}

	.product__images {
		margin-bottom: 200px;
	}

	.product__inner {
		justify-content: center;
	}
}

@media (max-width: 1200px) {
	.statistics__inner-footer {
		display: flex;
		justify-content: center;
	}

	.statistics__footer {
		max-width: 970px;

		img {
			max-width: 970px;
		}
	}
}

@media (max-width: 1030px) {
	.header__top-inner {
		flex-wrap: wrap;
	}

	.header__logo {
		margin-left: -10px;
	}


	.header__inner-items {
		justify-content: center;
		margin-bottom: 30px;
	}

	.statistics__item {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 30px;
		justify-content: center;

		&-text {
			margin-top: -25px;
		}
	}
}

@media (max-width: 980px) {
	.statistics__description {
		max-width: 270px;
	}

	.statistics__footer {


		// 	img {
		// 		max-width: 770px;
		// 	}
		// }

		.statistics__footer-text {
			max-width: 800px;
			margin-left: 11%;
			text-align: center;
			font-size: 18px !important;
			margin-top: -69px !important;
		}
	}
}

@media (max-width: 860px) {
	.product__images-medicine {
		display: flex;
		left: -115px;
	}

	.statistics__description {
		max-width: 240px;
	}
}

@media (max-width: 800px) {
	.product__images-medicine {
		display: flex;
		left: -155px;
	}
}

@media (max-width: 780px) {
	.product__images-medicine {
		position: relative;

		.product__medicine-tabl {
			position: absolute;
			top: -161px;
			left: 190px;
			z-index: 1;
		}

		.product__medicine-one {
			position: absolute;

			.tree {
				display: none;
			}

			img {
				position: relative;
				top: -350px;
				left: 130px;
				max-width: 300px;
			}

			span {
				position: absolute;
				right: -145px;
				top: -359px;
			}
		}

		.product__medicine-two {
			position: absolute;

			img {
				position: relative;
				top: -252px;
				left: 320px;
				max-width: 370px;

			}

			span {
				position: absolute;
				right: -290px;
				top: -262px;
			}
		}

		.product__medicine-three {
			right: -19%;
			top: -141px;
			max-width: 270px;
		}
	}


	.statistics__inner-description {
		flex-wrap: wrap;
		justify-content: center;

	}

	.statistics__description {
		max-width: 300px;
		padding: 10px 10px;
	}

	.statistics__footer {
		// 	max-width: 670px;

		// 	img {
		// 		max-width: 670px;
		// 	}

		// 	&-icon {
		// 		display: none;
		// 	}
		.statistics__footer-text {
			max-width: 600px;
			margin-left: 20%;
			text-align: center;

		}
	}

}

@media (max-width: 670px) {
	.header__inner-items {
		flex-wrap: wrap;
		margin-bottom: 50px;

	}

	.header__item {
		padding-bottom: 15px;
	}

	.product__images-medicine {
		position: relative;

		.product__medicine-tabl {
			left: 427px;
			top: -153px;
		}

		.product__medicine-one {
			position: absolute;

			img {
				max-width: 373px;
				left: 257px;
				top: -533px;
			}

			span {
				position: absolute;
				right: -265px;
				top: -553px;
			}
		}

		.product__medicine-two {
			position: absolute;

			img {
				left: 257px;
				top: -245px;
				max-width: 360px;
			}

			span {
				right: -230px;
				top: -258px;
			}
		}

		.product__medicine-three {
			left: 294px;
			top: -10px;
			max-width: 300px;
		}
	}

	.product__inner {
		flex-wrap: wrap;
	}

	.statistics__inner-item {
		flex-wrap: wrap;
		justify-content: center;

		.statistics__item-text {
			max-width: 300px;
		}

	}

	.statistics__description {
		max-width: 300px;
		padding: 10px 10px;
	}

	.statistics__footer {
		// max-width: 470px;
		// margin-bottom: 10px;



		// img {
		// 	max-width: 470px;
		// 	min-height: 80px;
		// }

		.statistics__footer-text {
			max-width: 600px;
			margin-left: 20%;
			text-align: center;
			font-size: 14px !important;
			margin-top: -69px !important;

		}
	}
}

@media (max-width: 570px) {
	.header__item-text {
		max-width: 400px;
	}

	.header__item {
		padding-bottom: 0;

	}

	.statistics__footer {
		// max-width: 470px;
		// margin-bottom: 10px;

		// img {
		// 	max-width: 370px;
		// 	min-height: 80px;
		// }

		.statistics__footer-text {
			margin-top: -69px !important;
			max-width: 500px;
			margin-left: 25%;
			text-align: center;
		}
	}
}

@media (max-width: 530px) {
	.product__images-medicine {
		position: relative;

		.product__medicine-tabl {
			left: 227px;

		}

		.product__medicine-one {
			position: absolute;

			img {
				left: 157px;
			}

			span {
				right: -165px;

			}
		}

		.product__medicine-two {
			position: absolute;

			img {
				left: 157px;
			}

			span {
				right: -130px;

			}
		}

		.product__medicine-three {
			left: 194px;

		}
	}

	.statistics__footer {
		.statistics__footer-text {

			max-width: 400px;
			margin-left: 30%;
			text-align: center;
		}
	}
}


@media (max-width: 415px) {
	.product__images-medicine {
		position: relative;
		margin-bottom: -50px;

		.product__medicine-tabl {
			left: 327px;
			top: -388px;

		}

		.product__medicine-one {
			position: absolute;

			img {
				max-width: 320px;

			}
		}

		.product__medicine-two {
			position: absolute;

			img {
				max-width: 320px;

			}

		}

		.product__medicine-three {
			top: -50px;
		}
	}

	.statistics__footer {
		.statistics__footer-text {
			max-width: 350px;
			margin-left: 32%;
			text-align: center;
		}
	}
}